* {
  font-size: 20px;
}
body {
  background: rgb(229, 229, 229);
}
.args-mod {
  margin: auto;
  width: 50%;
  margin-top: 40px;
}
.main {
  display: grid;
}
.main h1 {
  text-align: center;
  font-size: larger;
}
.select-box {
  margin: auto;
  width: 80%;
  height: 50px;
}
.mod-btn {
  margin-top: 20px !important;
  margin-right: 20px !important;
  margin-left: 30px !important;
  width: 40%;
}
.btn-container {
  margin: auto;
  width: 50%;
}
.btn-container button {
  width: 100%;
  margin-top: 10px;
}

.card {
  margin-top: 20px !important;
  width: 80%;
  height: 300px;
  margin: auto;
  text-align: center;
}
.result {
  font-size: 200px !important;
  vertical-align: middle !important;
}